@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-blackitalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-bolditalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-extrabolditalic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-extralightitalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-lightitalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-mediumitalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-semibolditalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Archivo;
  src: url('/brand/fonts/archivo-expanded-thinitalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Serif';
  src: url('/brand/fonts/noto-serif-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Serif';
  src: url('/brand/fonts/noto-serif-italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
